<h1> Basketball Props : Queries </h1>
<p> This file contains the queries and the main purpose of the project. </p>
<p> The following queries are executed </p>
<p> The Team Roster for a Specified Team in each season</p>
<p> Career Averages for Highest Scoring Players </p>
<p> Players who Averaged 10,5,5 </p>
<p> Best Individual Seasons </p>
<p> Season Averages for a Specified Player </p>
<p> Player Props against a Specific Team </p>
<p> Win Percentage of one Specific Team against another Specific Team </p>

In [1]:
%load_ext sql
%matplotlib inline

In [2]:
import os
import configparser
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy.sql
import numpy as np

In [3]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/CS-3287/mysql.cfg")
dburl = mysqlcfg['mysql']['url']

os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
eng = create_engine(dburl)
con = eng.connect()

<h3> Team Roster </h3>
We join the player table with the teams table, then select Boston, this is the Team Roster for the Boston Celtics

In [29]:
%%sql

    SELECT p.PLAYER_NAME, t.CITY, t.NICKNAME, p.season
    FROM Players p
    LEFT JOIN Teams t on p.TEAM_ID = t.TEAM_ID
    WHERE CITY = "BOSTON"
    ORDER BY season DESC
    LIMIT 20;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
20 rows affected.

[('Vincent Poirier', 'Boston', 'Celtics', 2019),
 ('Marcus Smart', 'Boston', 'Celtics', 2019),
 ('Brad Wanamaker', 'Boston', 'Celtics', 2019),
 ('Jaylen Brown', 'Boston', 'Celtics', 2019),
 ('Kemba Walker', 'Boston', 'Celtics', 2019),
 ('Enes Kanter', 'Boston', 'Celtics', 2019),
 ('Javonte Green', 'Boston', 'Celtics', 2019),
 ('Jayson Tatum', 'Boston', 'Celtics', 2019),
 ('Gordon Hayward', 'Boston', 'Celtics', 2019),
 ('Semi Ojeleye', 'Boston', 'Celtics', 2019),
 ('Daniel Theis', 'Boston', 'Celtics', 2019),
 ('Yante Maten', 'Boston', 'Celtics', 2019),
 ('Carsen Edwards', 'Boston', 'Celtics', 2019),
 ('Kaiser Gates', 'Boston', 'Celtics', 2019),
 ('Grant Williams', 'Boston', 'Celtics', 2019),
 ('Tremont Waters', 'Boston', 'Celtics', 2019),
 ('Romeo Langford', 'Boston', 'Celtics', 2019),
 ('Robert Williams III', 'Boston', 'Celtics', 2019),
 ('Tacko Fall', 'Boston', 'Celtics', 2019),
 ('Max Strus', 'Boston', 'Celtics', 2019)]

<h3> Career Averages </h3>
This contains the career averages for each player across each statistical category. We join games details with games and grab the average of each statisticial category

In [5]:
%%sql

    SELECT * FROM
        (SELECT gd.PLAYER_NAME, AVG(gd.PTS) as AVERAGE_POINTS, AVG(gd.AST) as AVERAGE_ASSISTS, AVG(gd.REB) as AVERAGE_REBOUNDS, AVG(gd.FG_PCT)*100 as AVERAGE_FG_PCT, AVG(gd.FG3_PCT)*100 as AVERAGE_3PT_PCT, AVG(FT_PCT)*100 as AVERAGE_FT_PCT
        FROM Games_Details gd
        GROUP BY gd.PLAYER_NAME) pp
    WHERE AVERAGE_POINTS IS NOT NULL
        AND AVERAGE_ASSISTS IS NOT NULL
        AND AVERAGE_REBOUNDS IS NOT NULL
        AND AVERAGE_FG_PCT IS NOT NULL
        AND AVERAGE_3PT_PCT IS NOT NULL
        AND AVERAGE_FT_PCT IS NOT NULL
    ORDER BY pp.AVERAGE_POINTS DESC
    LIMIT 20;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
20 rows affected.

[('Kevin Durant', Decimal('29.6792'), Decimal('5.3774'), Decimal('7.6415'), 53.22830170955298, 42.043396296366204, 85.16226410865784),
 ('Kawhi Leonard', Decimal('29.6667'), Decimal('4.3333'), Decimal('7.6667'), 58.38888883590698, 40.50000011920929, 90.9444444709354),
 ('Giannis Antetokounmpo', Decimal('29.4177'), Decimal('5.6835'), Decimal('11.6076'), 55.92151914216294, 26.897468408451804, 67.4037972960291),
 ('Joel Embiid', Decimal('28.9688'), Decimal('4.1406'), Decimal('11.0156'), 48.295312584377825, 35.22500025574118, 82.56406234577298),
 ('LeBron James', Decimal('28.7455'), Decimal('6.2364'), Decimal('7.9818'), 51.45636406811801, 34.64727294715968, 76.48545449430291),
 ('Luka Doncic', Decimal('28.0339'), Decimal('8.7288'), Decimal('9.0169'), 45.33898302559125, 32.13050868046486, 68.12711842989518),
 ('Trae Young', Decimal('27.7013'), Decimal('9.4545'), Decimal('3.5584'), 44.019480417301125, 34.054545671134804, 86.71948050523733),
 ('DeMar DeRozan', Decimal('27.3881'), Decimal('4.9701'), Decimal('5.3433'), 50.074626927945154, 29.129850753207702, 84.2850744279463),
 ('Ja Morant', Decimal('27.1967'), Decimal('6.7213'), Decimal('5.6393'), 48.852459304645414, 30.313114944051524, 72.64426223567276),
 ('Jayson Tatum', Decimal('27.1571'), Decimal('4.2429'), Decimal('8.1714'), 43.7928571658475, 31.884285850184302, 82.2214285816465),
 ('Donovan Mitchell', Decimal('25.9403'), Decimal('5.4179'), Decimal('4.0299'), 45.344776359956654, 35.5194032637041, 74.4582088580772),
 ('Nikola Jokic', Decimal('25.9028'), Decimal('7.6806'), Decimal('13.3889'), 57.59583347373538, 36.5138890221715, 77.8833332988951),
 ('Devin Booker', Decimal('25.7532'), Decimal('4.6364'), Decimal('5.3247'), 44.72857138940266, 34.60779232638223, 79.1935064575889),
 ('Stephen Curry', Decimal('25.4242'), Decimal('6.1515'), Decimal('5.2424'), 43.613636606570445, 37.825757648908734, 79.14242419329557),
 ('Kyrie Irving', Decimal('25.0800'), Decimal('4.8400'), Decimal('4.9200'), 47.175999999046326, 38.38800013065338, 69.11199998855591),
 ('Paul George', Decimal('24.8000'), Decimal('5.3111'), Decimal('7.9111'), 42.088889016045464, 32.27333350314034, 70.3977776898278),
 ('Damian Lillard', Decimal('24.4571'), Decimal('7.2571'), Decimal('4.1714'), 41.522857355219976, 33.25999996491841, 86.42571449279785),
 ('Zach LaVine', Decimal('24.4310'), Decimal('4.3966'), Decimal('4.8103'), 47.960344881846986, 39.54827597942845, 76.05689661256199),
 ('Karl-Anthony Towns', Decimal('23.6970'), Decimal('3.7879'), Decimal('9.6212'), 53.44393944198435, 39.61212140592662, 81.07878778016928),
 ('Shai Gilgeous-Alexander', Decimal('23.0926'), Decimal('5.7778'), Decimal('4.7593'), 43.425925903850136, 28.612963220587485, 73.696296468929)]

<h3> Players who averaged 10,5,5 </h3>
<p> This table contains the career averages of players who averaged 10 points, 5 assists, and 5 rebounds over their NBA careers </p>

In [30]:
%%sql

    SELECT * FROM
        (SELECT gd.PLAYER_NAME, AVG(gd.PTS) as AVERAGE_POINTS, AVG(gd.AST) as AVERAGE_ASSISTS, AVG(gd.REB) as AVERAGE_REBOUNDS
        FROM Games_Details gd
        GROUP BY gd.PLAYER_NAME) pp
    WHERE pp.AVERAGE_POINTS > 10.0 AND pp.AVERAGE_ASSISTS > 5.0 AND pp.AVERAGE_REBOUNDS > 5.0
    ORDER BY pp.AVERAGE_POINTS DESC;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
24 rows affected.

[('Kevin Durant', Decimal('29.6792'), Decimal('5.3774'), Decimal('7.6415')),
 ('Giannis Antetokounmpo', Decimal('29.4177'), Decimal('5.6835'), Decimal('11.6076')),
 ('LeBron James', Decimal('28.7455'), Decimal('6.2364'), Decimal('7.9818')),
 ('Luka Doncic', Decimal('28.0339'), Decimal('8.7288'), Decimal('9.0169')),
 ('Ja Morant', Decimal('27.1967'), Decimal('6.7213'), Decimal('5.6393')),
 ('Nikola Jokic', Decimal('25.9028'), Decimal('7.6806'), Decimal('13.3889')),
 ('Stephen Curry', Decimal('25.4242'), Decimal('6.1515'), Decimal('5.2424')),
 ('Paul George', Decimal('24.8000'), Decimal('5.3111'), Decimal('7.9111')),
 ('Brandon Ingram', Decimal('22.6275'), Decimal('5.4902'), Decimal('5.5882')),
 ('Pascal Siakam', Decimal('21.7778'), Decimal('5.1111'), Decimal('8.2963')),
 ('James Harden', Decimal('21.6667'), Decimal('9.9667'), Decimal('7.4833')),
 ('Khris Middleton', Decimal('21.1519'), Decimal('5.2532'), Decimal('5.9747')),
 ('Jimmy Butler', Decimal('21.0196'), Decimal('5.5882'), Decimal('6.0980')),
 ('Julius Randle', Decimal('20.4789'), Decimal('5.0282'), Decimal('10.0704')),
 ('Dejounte Murray', Decimal('20.4444'), Decimal('8.9841'), Decimal('8.2381')),
 ('LaMelo Ball', Decimal('19.2154'), Decimal('7.2000'), Decimal('6.7077')),
 ('Malcolm Brogdon', Decimal('18.9444'), Decimal('5.8333'), Decimal('5.1667')),
 ('Domantas Sabonis', Decimal('18.2742'), Decimal('5.0484'), Decimal('12.0161')),
 ('Russell Westbrook', Decimal('17.8333'), Decimal('7.2500'), Decimal('7.7083')),
 ('Cole Anthony', Decimal('16.8448'), Decimal('5.6034'), Decimal('5.6034')),
 ('Cade Cunningham', Decimal('16.8302'), Decimal('5.2264'), Decimal('5.7925')),
 ('Lonzo Ball', Decimal('12.7436'), Decimal('5.0256'), Decimal('5.4359')),
 ('Josh Giddey', Decimal('12.5517'), Decimal('6.2931'), Decimal('7.7414')),
 ('Ben Simmons', Decimal('11.5000'), Decimal('8.3000'), Decimal('7.1000'))]

<h3> Best Individual Seasons </h3>
<p> This table joins Games on Games Details and groups the information by PLAYER_NAME and SEASONS, thus it represents the best individual seasons</p>

In [25]:
%%sql

SELECT * FROM
        (SELECT gd.PLAYER_NAME, AVG(gd.PTS) as AVERAGE_POINTS, AVG(gd.AST) as AVERAGE_ASSISTS, AVG(gd.REB) as AVERAGE_REBOUNDS, g.SEASON
        FROM Games_Details gd
        LEFT JOIN Games g on gd.GAME_ID = g.GAME_ID
        GROUP BY gd.PLAYER_NAME, g.SEASON) pp
    WHERE pp.AVERAGE_POINTS > 10.0 AND pp.AVERAGE_ASSISTS > 5.0
    ORDER BY pp.AVERAGE_POINTS DESC
    LIMIT 25;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
25 rows affected.

[('LeBron James', Decimal('31.0833'), Decimal('6.1389'), Decimal('9.0000'), 2021),
 ('Giannis Antetokounmpo', Decimal('30.8889'), Decimal('5.9167'), Decimal('11.2778'), 2021),
 ('Ja Morant', Decimal('29.6857'), Decimal('6.6286'), Decimal('5.8857'), 2021),
 ('Damian Lillard', Decimal('29.5556'), Decimal('6.2222'), Decimal('4.5556'), 2021),
 ('Luka Doncic', Decimal('29.5152'), Decimal('8.6667'), Decimal('10.0303'), 2021),
 ('Kevin Durant', Decimal('29.4211'), Decimal('6.1053'), Decimal('7.0526'), 2021),
 ('DeMar DeRozan', Decimal('29.1000'), Decimal('5.7000'), Decimal('5.4750'), 2021),
 ('Trae Young', Decimal('28.6842'), Decimal('9.6053'), Decimal('3.8421'), 2021),
 ('Donovan Mitchell', Decimal('26.5294'), Decimal('5.6176'), Decimal('4.0882'), 2021),
 ('Nikola Jokic', Decimal('26.2000'), Decimal('8.6444'), Decimal('13.8000'), 2021),
 ('Kyrie Irving', Decimal('25.9444'), Decimal('5.3889'), Decimal('4.6111'), 2021),
 ('Shai Gilgeous-Alexander', Decimal('25.4375'), Decimal('6.6563'), Decimal('4.8125'), 2021),
 ("De'Aaron Fox", Decimal('25.1212'), Decimal('5.6061'), Decimal('4.0000'), 2021),
 ('Stephen Curry', Decimal('24.3500'), Decimal('6.3500'), Decimal('5.0500'), 2021),
 ('Bradley Beal', Decimal('24.1000'), Decimal('7.3500'), Decimal('4.4500'), 2021),
 ('CJ McCollum', Decimal('23.7500'), Decimal('5.6667'), Decimal('5.0417'), 2021),
 ('James Harden', Decimal('23.7143'), Decimal('11.0357'), Decimal('7.8929'), 2021),
 ('Brandon Ingram', Decimal('23.2813'), Decimal('6.0000'), Decimal('5.3438'), 2021),
 ('Pascal Siakam', Decimal('22.8333'), Decimal('5.5000'), Decimal('8.6190'), 2021),
 ('Darius Garland', Decimal('22.4063'), Decimal('8.8750'), Decimal('3.7500'), 2021),
 ('Fred VanVleet', Decimal('21.9375'), Decimal('7.1875'), Decimal('4.1875'), 2021),
 ('Dejounte Murray', Decimal('21.5526'), Decimal('9.8947'), Decimal('8.3421'), 2021),
 ('Khris Middleton', Decimal('21.2500'), Decimal('5.5500'), Decimal('5.2750'), 2021),
 ('Paul George', Decimal('21.0000'), Decimal('5.3333'), Decimal('6.0000'), 2021),
 ('Julius Randle', Decimal('20.6047'), Decimal('5.1628'), Decimal('9.9302'), 2021)]

<h3> Season Averages for Steph Curry </h3>
<p> This table joins Games on Games_Details, and filters to get Steph Curry's records. It then groups by season to compute the averages across each season. </p>

In [8]:
%%sql
    
    SELECT gd.PLAYER_NAME, AVG(gd.PTS) as AVERAGE_POINTS, AVG(gd.AST) as AVERAGE_ASSISTS, AVG(gd.REB) as AVERAGE_REBOUNDS, AVG(gd.FG_PCT)*100 as AVERAGE_FIELD_GOAL_PCT, AVG(gd.FG3_PCT)*100 as AVERAGE_3POINT_PCT, AVG(gd.FT_PCT)*100 as AVERAGE_FT_PCT, g.SEASON
    FROM Games_Details gd
    LEFT JOIN Games g on gd.GAME_ID = g.GAME_ID
    WHERE PLAYER_NAME = "Stephen Curry"
    GROUP BY g.SEASON
    ORDER BY AVERAGE_POINTS DESC
    LIMIT 10;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
1 rows affected.

[('Stephen Curry', Decimal('25.4242'), Decimal('6.1515'), Decimal('5.2424'), 43.613636606570445, 37.825757648908734, 79.14242419329557, 2021)]

<h1> Player Props against a Team </h1>
<h3> This is the main functionality of the database, finding the player performances by a given player against a specified team. </h3>
<p> First we compute a CTE of games involving the opposing team, then we find Game_Detail records pertaining to a specified player. We then merge those two queries together to achieve our desired result </p>

In [21]:
%%sql

    with nets_games as (SELECT GAME_ID FROM Games
    WHERE TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Nets") OR 
    TEAM_ID_away = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Nets"))
    
    SELECT * FROM nets_games LIMIT 10;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
10 rows affected.

[(22100993,),
 (22100975,),
 (22100960,),
 (22100941,),
 (22100928,),
 (22100726,),
 (22100910,),
 (22100890,),
 (22100464,),
 (22100877,)]

In [22]:
%%sql

    SELECT g.GAME_DATE_EST, gd.PLAYER_NAME, gd.PTS, gd.REB, gd.AST, gd.FG_PCT, gd.FG3_PCT, gd.FT_PCT
    FROM Games_Details gd LEFT JOIN Games g ON gd.GAME_ID = g.GAME_ID
    WHERE gd.PLAYER_NAME = "Jaylen Brown"
    ORDER BY GAME_DATE_EST DESC
    LIMIT 10;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
10 rows affected.

[(datetime.date(2022, 3, 11), 'Jaylen Brown', 22, 8, 4, 0.364, 0.125, 0.714),
 (datetime.date(2022, 3, 9), 'Jaylen Brown', 15, 5, 5, 0.375, 0.125, 0.4),
 (datetime.date(2022, 3, 6), 'Jaylen Brown', 21, 4, 5, 0.471, 0.5, 1.0),
 (datetime.date(2022, 3, 1), 'Jaylen Brown', 2, 1, 1, 1.0, 0.0, 0.0),
 (datetime.date(2022, 2, 27), 'Jaylen Brown', 23, 4, 8, 0.625, 0.4, 0.25),
 (datetime.date(2022, 2, 26), 'Jaylen Brown', 27, 3, 0, 0.417, 0.167, 1.0),
 (datetime.date(2022, 2, 24), 'Jaylen Brown', 18, 1, 6, 0.5, 0.2, 0.625),
 (datetime.date(2022, 2, 16), 'Jaylen Brown', 31, 2, 6, 0.571, 0.5, 0.8),
 (datetime.date(2022, 2, 15), 'Jaylen Brown', 29, 8, 3, 0.588, 0.714, 0.667),
 (datetime.date(2022, 2, 13), 'Jaylen Brown', 17, 9, 3, 0.375, 0.333, 0.75)]

In [24]:
%%sql

    with nets_games as (SELECT GAME_ID FROM Games
    WHERE TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Nets") OR 
    TEAM_ID_away = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Nets"))

    SELECT g.GAME_DATE_EST, gd.PLAYER_NAME, gd.PTS, gd.REB, gd.AST, gd.FG_PCT, gd.FG3_PCT, gd.FT_PCT
    FROM Games_Details gd
    LEFT JOIN Games g ON gd.GAME_ID = g.GAME_ID
    WHERE gd.PLAYER_NAME = "Jaylen Brown" AND gd.GAME_ID IN (SELECT * FROM nets_games)
    ORDER BY g.GAME_DATE_EST DESC

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
4 rows affected.

[(datetime.date(2022, 3, 6), 'Jaylen Brown', 21, 4, 5, 0.471, 0.5, 1.0),
 (datetime.date(2022, 2, 24), 'Jaylen Brown', 18, 1, 6, 0.5, 0.2, 0.625),
 (datetime.date(2022, 2, 8), 'Jaylen Brown', 22, 7, 9, 0.75, 0.333, 0.75),
 (datetime.date(2021, 11, 24), 'Jaylen Brown', 13, 5, 0, 0.333, 0.0, 1.0)]

<h3> Win Percentage of a Specified Team against another Specified Team </h3>
<p> This is the second of the main functionalities calculating the win percentage of one specified team against another specified team. Here we calculate the win percentage of Chicago against Philly over the last 10 games that they played. </p>
<p> First we create two CTEs one for chicago GAME_IDs and one for philly Game_IDs </p>
<p> Next we create a CTE consisting of the last 10 games played between chicago and philly </p>
<p> We then create a CTE that contains a count of the number of wins each team had at home and away </p>
<p> Lastly we calculate the percentage of one team's wins over the last ten games as the sum of their wins at home plus their wins away divided by 10 </p>

In [35]:
%%sql

    with chicago_games as (SELECT GAME_ID FROM Games
    WHERE TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Bulls") OR 
    TEAM_ID_away = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Bulls")),
    philly_games as (SELECT GAME_ID FROM Games
    WHERE TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "76ers") OR 
    TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "76ers"))


    SELECT * 
    FROM Games g 
    WHERE g.GAME_ID in (SELECT * FROM philly_games) AND g.GAME_ID in (SELECT * FROM chicago_games)
    ORDER BY g.GAME_DATE_EST DESC
    LIMIT 10;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
10 rows affected.

[(datetime.date(2022, 3, 7), 22100969, 1610612755, 2021, 121.0, 0.488, 0.794, 0.4, 29, 38, 1610612741, 106, 0.448, 0.769, 0.333, 22, 48, 1),
 (datetime.date(2021, 11, 3), 22100111, 1610612755, 2021, 103.0, 0.494, 0.714, 0.429, 24, 35, 1610612741, 98, 0.463, 0.889, 0.286, 19, 47, 1),
 (datetime.date(2021, 2, 19), 22000450, 1610612755, 2020, 112.0, 0.471, 0.793, 0.333, 23, 53, 1610612741, 105, 0.421, 1.0, 0.219, 24, 42, 1),
 (datetime.date(2020, 2, 9), 21900788, 1610612755, 2019, 118.0, 0.5, 0.719, 0.407, 29, 44, 1610612741, 111, 0.489, 0.765, 0.375, 23, 42, 1),
 (datetime.date(2020, 1, 17), 21900620, 1610612755, 2019, 100.0, 0.488, 1.0, 0.31, 30, 44, 1610612741, 89, 0.432, 0.733, 0.229, 21, 37, 1),
 (datetime.date(2019, 4, 10), 21801224, 1610612755, 2018, 125.0, 0.559, 0.6, 0.462, 30, 47, 1610612741, 109, 0.474, 0.667, 0.375, 21, 39, 1),
 (datetime.date(2018, 10, 18), 21800014, 1610612755, 2018, 127.0, 0.473, 0.9, 0.333, 30, 55, 1610612741, 108, 0.436, 0.75, 0.333, 28, 39, 1),
 (datetime.date(2018, 1, 24), 21700704, 1610612755, 2017, 115.0, 0.519, 0.75, 0.5, 31, 48, 1610612741, 101, 0.383, 0.818, 0.297, 20, 43, 1),
 (datetime.date(2017, 4, 6), 21601173, 1610612755, 2016, 90.0, 0.363, 0.773, 0.212, 19, 50, 1610612741, 102, 0.429, 0.941, 0.32, 27, 57, 0),
 (datetime.date(2016, 11, 25), 21600229, 1610612755, 2016, 89.0, 0.397, 0.818, 0.409, 18, 48, 1610612741, 105, 0.444, 0.731, 0.286, 24, 51, 0)]

In [62]:
%%sql

    with chicago_games as (SELECT GAME_ID FROM Games
    WHERE TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Bulls") OR 
    TEAM_ID_away = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "Bulls")),
    philly_games as (SELECT GAME_ID FROM Games
    WHERE TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "76ers") OR 
    TEAM_ID_home = (SELECT TEAM_ID 
    FROM Teams t
    WHERE NICKNAME = "76ers")),
    last_ten_philly_chicago as (
        SELECT * FROM Games g 
        WHERE g.GAME_ID in (SELECT * FROM philly_games) AND g.GAME_ID in (SELECT * FROM chicago_games)
        ORDER BY g.GAME_DATE_EST DESC
        LIMIT 10),
    philly_home_wins as (
        SELECT COUNT(HOME_TEAM_WINS) as wins
        FROM last_ten_philly_chicago
        WHERE last_ten_philly_chicago.HOME_TEAM_WINS = 1 and last_ten_philly_chicago.TEAM_ID_home = (SELECT TEAM_ID FROM Teams WHERE NICKNAME = "76ers")),
    philly_away_wins as (
        SELECT COUNT(HOME_TEAM_WINS) as wins
        FROM last_ten_philly_chicago
        WHERE last_ten_philly_chicago.HOME_TEAM_WINS = 0 and last_ten_philly_chicago.TEAM_ID_away = (SELECT TEAM_ID FROM Teams WHERE NICKNAME = "76ers")),
    chicago_home_wins as (
        SELECT COUNT(HOME_TEAM_WINS) as wins
        FROM last_ten_philly_chicago
        WHERE last_ten_philly_chicago.HOME_TEAM_WINS = 1 and last_ten_philly_chicago.TEAM_ID_home = (SELECT TEAM_ID FROM Teams WHERE NICKNAME = "Bulls")),
    chicago_away_wins as (
        SELECT COUNT(HOME_TEAM_WINS) as wins
        FROM last_ten_philly_chicago
        WHERE last_ten_philly_chicago.HOME_TEAM_WINS = 0 and last_ten_philly_chicago.TEAM_ID_away = (SELECT TEAM_ID FROM Teams WHERE NICKNAME = "Bulls")
    )
    
    SELECT (sum(wins)/10)*100 "Chicago Win Percentage"
    FROM ( SELECT * FROM chicago_away_wins UNION ALL SELECT * FROM chicago_home_wins ) chicago_wins;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
1 rows affected.

[(Decimal('20.0000'),)]